Messenger.NET/MessengerServer/obj/
Messenger.NET/MessengerClient/bin/
Messenger.NET/MessengerClient/obj/
Messenger.NET/MessengerServer/bin/
Messenger2/MessengerServer/obj/
Messenger2/MessengerServer/bin/
Messenger2/MessengerClient/obj/
Messenger2/MessengerClient/bin/
